<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>トラバース測量</title>
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/math.js"></script>
	<script type="module">
		import { createApp } from "https://unpkg.com/vue@3.2.4/dist/vue.esm-browser.prod.js";
		const app = createApp({
			data() {
				return {
					startId: {
						id: 1
					},
					start: {
						x: 0,
						y: 0,
						theta: 0
					},
					observedValues: [
						{
							alpha: 0,
							s: 0
						}
					],
					end: {
						x: 0,
						y: 0
					},
					result: [
						{
							x: 0,
							y: 0
						}
					]
				};
			},
			methods: {
				addObs() {
					this.observedValues.push({
						alpha: 0,
						s: 0
					});
				},
				calculate() {

					// 計算を実行
					const n = this.observedValues.length;

					if (n < 2) {
						return {
							beta: [],
							s: null
						};
					}

					const startX = Number(this.start.x);
					const startY = Number(this.start.y);
					const endX = Number(this.end.x);
					const endY = Number(this.end.y);

					// xに関する観測値yベクトル
					const obsAlpha = this.observedValues.map(obs => Number(obs.alpha));
					const obsTheta = [Number(this.start.theta) + obsAlpha[0]];
					for (let i = 1; i < n; i++) {
						obsTheta.push(obsTheta[i - 1] + obsAlpha[i] - 180);
					}
					console.log(obsTheta);
					const obsX = this.observedValues.map((obs, index) => {
						return Number(obs.s) * Math.cos(obsTheta[index] / 180 * Math.PI)
					});
					const obsY = this.observedValues.map((obs, index) => {
						return Number(obs.s) * Math.sin(obsTheta[index] / 180 * Math.PI)
					});
					obsX[0] += startX;
					obsY[0] += startY;
					obsX[n - 1] -= endX;
					obsY[n - 1] -= endY;

					// X
					const X = [];
					for (let i = 0; i < n; i++) {
						const row = [];
						for (let j = 0; j < n - 1; j++) {
							if (j === i) {
								row.push(1);
							} else if (j === i - 1) {
								row.push(-1);
							} else {
								row.push(0);
							}
						}
						X.push(row);
					}

					// β = []’
					const betaX = math.chain(
						math.inv(math.multiply(math.transpose(X), X))
					).multiply(
						math.transpose(X)
					).multiply(
						obsX
					).done();
					const betaY = math.chain(
						math.inv(math.multiply(math.transpose(X), X))
					).multiply(
						math.transpose(X)
					).multiply(
						obsY
					).done();

					// 不偏分散s^2
					const s2X = math.chain(
						math.subtract(obsX, math.multiply(X, betaX))
					).multiply(
						math.transpose(math.subtract(obsX, math.multiply(X, betaX)))
					).done();
					const s2Y = math.chain(
						math.subtract(obsY, math.multiply(X, betaY))
					).multiply(
						math.transpose(math.subtract(obsY, math.multiply(X, betaY)))
					).done();

					// resultのすべての項目を削除
					this.result.splice(0, this.result.length);
					for (let i = 0; i < n - 1; i++) {
						this.result.push({
							x: betaX[i],
							y: betaY[i]
						});
					}

					
					return {
						beta: this.result,
						s: {
							x: Math.sqrt(math.norm(s2X)),
							y: Math.sqrt(math.norm(s2Y))
						}
					};
				}
			}
		});
		app.mount("#app");
	</script>
</head>

<body>
	<div id="app">

		<h1>トラバース測量</h1>

		<h2>入力</h2>
		<div>
			<label>始点番号</label>：<input type="number" v-model="startId.id"><br>
			<label>始点{{Number(startId.id)}} X：</label><input type="text" v-model="start.x">&nbsp;
			<label>Y：</label><input type="text" v-model="start.y">&nbsp;
			<label>θ：</label><input type="text" v-model="start.theta">
		</div>

		<div>
			<div v-for="(obs, index) in observedValues" :key="index">
				<label>α_{{ index + Number(startId.id) }}：</label><input type="number" v-model="obs.alpha">&nbsp;
				<label>s_{{ index + Number(startId.id) }}：</label><input type="number" v-model="obs.s">&nbsp;
				<button @click="observedValues.splice(index, 1)">削除</button>
			</div>
			<button @click="addObs">追加</button>
		</div>

		<div>
			<label>終点{{ observedValues.length + Number(startId.id) }} X：</label><input type="text" v-model="end.x">&nbsp;
			<label>Y：</label><input type="text" v-model="end.y">
		</div>

		<h2>結果</h2>
		<div>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>X</th>
						<th>Y</th>
					</tr>
				</thead>
				<tr>
					<th>H{{Number(startId.id)}}</th>
					<td>{{start.x}}</td>
					<td>{{start.y}}</td>
				</tr>
				<tr v-for="(calc, index) in calculate().beta" :key="index">
					<th>H{{index + Number(startId.id) + 1}}</th>
					<td>{{calc.x}}</td>
					<td>{{calc.y}}</td>
				</tr>
				<tr>
					<th>H{{Number(startId.id) + observedValues.length}}</th>
					<td>{{end.x}}</td>
					<td>{{end.y}}</td>
				</tr>
			</table>
		</div>
		<div>
			<p>
				不偏分散：<span style="user-select: all;">{{calculate().s}}</span>
			</p>
		</div>

	</div>
</body>

</html>