<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>トラバース測量（往復）</title>
	<link rel="stylesheet" href="../css/style.css">
	<script src="../js/math.js"></script>
	<script type="module">
		import { createApp } from "https://unpkg.com/vue@3.2.4/dist/vue.esm-browser.prod.js";
		const app = createApp({
			data() {
				return {
					startId: {
						id: 1
					},
					orientation: {
						value: 1
					},
					start: {
						x: 0,
						y: 0,
						degrees: 0,
						minutes: 0,
						seconds: 0
					},
					observedValuesUp: [
						{
							degrees: 180,
							minutes: 0,
							seconds: 0,
							s: 0
						}
					],
					observedValuesDown: [
						{
							degrees: 180,
							minutes: 0,
							seconds: 0,
							s: 0
						}
					],
					end: {
						x: 0,
						y: 0,
						degrees: 0,
						minutes: 0,
						seconds: 0
					}
				};
			},
			methods: {
				addObs() {
					this.observedValuesUp.push({
						degrees: 180,
						minutes: 0,
						seconds: 0,
						s: 0
					});
					this.observedValuesDown.push({
						degrees: 180,
						minutes: 0,
						seconds: 0,
						s: 0
					});
				},
				calculate() {

					// 計算を実行
					const n = this.observedValuesUp.length;

					if (n < 2) {
						return {
							beta: [],
							s: null
						};
					}

					const startX = Number(this.start.x);
					const startY = Number(this.start.y);
					const endX = Number(this.end.x);
					const endY = Number(this.end.y);
					if ((startX != 0 && !startX) || (startY != 0 && !startY) || (endX != 0 && !endX) || (endY != 0 && !endY)) {
						return {
							beta: [],
							s: null
						};
					}
					

					// 角度は加算していく
					const obsAlphaUp = this.observedValuesUp.map(obs => { return Number(obs.degrees) + Number(obs.minutes) / 60 + Number(obs.seconds) / 3600; });
					const obsThetaUp = [Number(this.start.degrees) + Number(this.start.minutes) / 60 + Number(this.start.seconds) / 3600 + obsAlphaUp[0]];
					for (let i = 1; i < n; i++) {
						obsThetaUp.push(obsThetaUp[i - 1] + obsAlphaUp[i] - 180);
					}
					// console.log(obsThetaUp);

					const obsAlphaDown = this.observedValuesDown.map(obs => { return Number(obs.degrees) + Number(obs.minutes) / 60 + Number(obs.seconds) / 3600; });
					const obsThetaDown = [Number(this.end.degrees) + Number(this.end.minutes) / 60 + Number(this.end.seconds) / 3600 + obsAlphaDown[0]];
					for (let i = 1; i < n; i++) {
						obsThetaDown.push(obsThetaDown[i - 1] + obsAlphaDown[i] - 180);
					}
					console.log(obsThetaDown);
					

					const obsXUp = this.observedValuesUp.map((obs, index) => {
						return Number(obs.s) * Math.cos(obsThetaUp[index] / 180 * Math.PI)
					});
					const obsYUp = this.observedValuesUp.map((obs, index) => {
						return Number(obs.s) * Math.sin(obsThetaUp[index] / 180 * Math.PI)
					});

					const obsXDown = this.observedValuesDown.map((obs, index) => {
						return Number(obs.s) * Math.cos(obsThetaDown[index] / 180 * Math.PI)
					});
					const obsYDown = this.observedValuesDown.map((obs, index) => {
						return Number(obs.s) * Math.sin(obsThetaDown[index] / 180 * Math.PI)
					});

					obsXUp[0] += startX;
					obsYUp[0] += startY;
					obsXUp[n - 1] -= endX;
					obsYUp[n - 1] -= endY;
					obsXDown[0] += endX;
					obsYDown[0] += endY;
					obsXDown[n - 1] -= startX;
					obsYDown[n - 1] -= startY;

					const obsX = obsXUp.concat(obsXDown);
					const obsY = obsYUp.concat(obsYDown);

					// X
					const X = [];
					for (let i = 0; i < n; i++) {
						const row = [];
						for (let j = 0; j < n - 1; j++) {
							if (j === i) {
								row.push(1);
							} else if (j === i - 1) {
								row.push(-1);
							} else {
								row.push(0);
							}
						}
						X.push(row);
					}
					for (let i = 0; i < n; i++) {
						const row = [];
						for (let j = 0; j < n - 1; j++) {
							if (j === n - i - 2) {
								row.push(1);
							} else if (j === n - i - 1) {
								row.push(-1);
							} else {
								row.push(0);
							}
						}
						X.push(row);
					}

					// β = []’
					const betaX = math.chain(
						math.inv(math.multiply(math.transpose(X), X))
					).multiply(
						math.transpose(X)
					).multiply(
						obsX
					).done();
					const betaY = math.chain(
						math.inv(math.multiply(math.transpose(X), X))
					).multiply(
						math.transpose(X)
					).multiply(
						obsY
					).done();

					// 不偏分散s^2
					const s2X = math.chain(
						math.subtract(obsX, math.multiply(X, betaX))
					).multiply(
						math.transpose(math.subtract(obsX, math.multiply(X, betaX)))
					).done() / (n + 1);
					const s2Y = math.chain(
						math.subtract(obsY, math.multiply(X, betaY))
					).multiply(
						math.transpose(math.subtract(obsY, math.multiply(X, betaY)))
					).done() / (n + 1);

					const beta = [];
					for (let i = 0; i < n - 1; i++) {
						beta.push({
							x: betaX[i],
							y: betaY[i]
						});
					}

					return {
						beta: beta,
						// s: {
						// 	x: Math.sqrt(math.norm(s2X)),
						// 	y: Math.sqrt(math.norm(s2Y))
						// }
						// s: `√(s_x)²: ${Math.sqrt(math.norm(s2X))}, √(s_y)²: ${Math.sqrt(math.norm(s2Y))}, √(s_xy)²: ${Math.sqrt(math.norm(s2Y) + math.norm(s2X))}`
						s: [
							{
								label: "√(s_x)²",
								value: Math.sqrt(math.norm(s2X))
							},
							{
								label: "√(s_y)²",
								value: Math.sqrt(math.norm(s2Y))
							}
							// ,
							// {
							// 	label: "√(s_xy)²",
							// 	value: Math.sqrt(math.norm(s2X) + math.norm(s2Y))
							// }
						]
					};
				}
			}
		});
		app.mount("#app");
	</script>
</head>

<body>
	<div id="app">

		<h1>トラバース測量（往復）</h1>

		<h2>入力</h2>

		<div>
			<h3>方向</h3>
			<label>方向（1 or -1）</label><input type="number" v-model="orientation.value">
		</div>

		<div>
			<h3>始点</h3>
			<label>始点番号</label>：<input type="number" v-model="startId.id"><br>
			<label>始点{{Number(startId.id)}}</label>
			<span class="coord">
				<label>X：</label><input type="number" v-model="start.x">,
				<label>Y：</label><input type="number" v-model="start.y">
			</span><br>
			<label>方位標の座北方位角θ：</label>
			<span class="deg">
				<input type="number" v-model="start.degrees">°
				<input type="number" v-model="start.minutes">'
				<input type="number" v-model="start.seconds">”
			</span>
		</div>

		<div>
			<h3>往路</h3>
			※ α_{{ Number(startId.id) }} は、方位標から点{{ 1 * orientation.value + Number(startId.id) }}まで時計回りに測った角度。
			<div v-for="(obs, index) in observedValuesUp" :key="index">
				<label>α_{{ index * orientation.value + Number(startId.id) }}：</label>
				<span class="deg">
					<input type="number" v-model="obs.degrees">°
					<input type="number" v-model="obs.minutes">’
					<input type="number" v-model="obs.seconds">”
				</span>　
				<label>s_{{ index * orientation.value + Number(startId.id) }}_{{ (index + 1) * orientation.value + Number(startId.id) }}：</label><input type="number" v-model="obs.s">&nbsp;
				<button @click="observedValuesUp.splice(index, 1); observedValuesDown.splice(index, 1)">削除</button>
			</div>
			<button @click="addObs">追加</button>
		</div>

		<div>
			<h3>復路</h3>
			※ α_{{ observedValuesUp.length * orientation.value + Number(startId.id) }} は、方位標から点{{ (observedValuesUp.length - 1) * orientation.value + Number(startId.id) }}まで時計回りに測った角度。
			<div v-for="(obs, index) in observedValuesDown" :key="index">
				<label>α_{{ (observedValuesUp.length - index) * orientation.value + Number(startId.id) }}：</label>
				<span class="deg">
					<input type="number" v-model="obs.degrees">°
					<input type="number" v-model="obs.minutes">’
					<input type="number" v-model="obs.seconds">”
				</span>　
				<label>s_{{ (observedValuesUp.length - index) * orientation.value + Number(startId.id) }}_{{ (observedValuesUp.length - index - 1) * orientation.value + Number(startId.id) }}：</label><input type="number" v-model="obs.s">&nbsp;
			</div>
		</div>

		<div>
			<h3>終点</h3>
			<label>終点{{ observedValuesUp.length * orientation.value + Number(startId.id) }} </label>
			<span class="coord">
				<label>X：</label><input type="number" v-model="end.x">, 
				<label>Y：</label><input type="number" v-model="end.y">
			</span><br>
			<label>方位標の座北方位角θ：</label>
			<span class="deg">
				<input type="number" v-model="end.degrees">°
				<input type="number" v-model="end.minutes">'
				<input type="number" v-model="end.seconds">”
			</span>
		</div>

		<h2>結果</h2>
		<div>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>X</th>
						<th>Y</th>
					</tr>
				</thead>
				<tr>
					<th>既知点 {{Number(startId.id)}}</th>
					<td>{{start.x ? start.x.toFixed(3) : start.x}}</td>
					<td>{{start.y ? start.y.toFixed(3) : start.y}}</td>
				</tr>
				<tr v-for="(calc, index) in calculate().beta" :key="index">
					<th>未知点 {{(index + 1) * orientation.value + Number(startId.id)}}</th>
					<td>{{calc.x ? calc.x.toFixed(3) : calc.x}}</td>
					<td>{{calc.y ? calc.y.toFixed(3) : calc.y}}</td>
				</tr>
				<tr>
					<th>既知点 {{Number(startId.id) + observedValuesUp.length * orientation.value}}</th>
					<td>{{end.x ? end.x.toFixed(3) : end.x}}</td>
					<td>{{end.y ? end.y.toFixed(3) : end.y}}</td>
				</tr>
			</table>
		</div>
		<div>
			<p v-for="(s, index) in calculate().s" :key="index">
				{{s.label}}: {{s.value.toFixed(6)}}
			</p>
		</div>

	</div>
</body>

</html>